.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 200px;
}

.loader.hidden {
    animation: fadeOut 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
.container {
    overflow: hidden;
    width: 450px;
}

.filterDiv {
    float: left;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}
.filterDiv2 {
    float: left;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}


.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 25px;
    background-color: #FA8072;
    cursor: pointer;
}


.btn:hover {
    background-color: #ddd;
}


.btn.active {
    background-color: #666;
    color: white;
}
#myBtnContainer {
    overflow: hidden;
}
.center {
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

}